body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.order {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.order h3 {
    margin-top: 0;
}

.orderButton {
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.startWorking {
    background-color: #FFA500;
    color: white;
}

.startWorking:hover {
    background-color: #ffc559;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
}

.menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.menuItem {
    flex-basis: 30%;
    margin-bottom: 20px;
    background: #fff;
    padding: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.menuItem img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #eee;
}

.menuItem h3 {
    color: #333;
}

.cart {
    background: #FFA500;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
}

.cart:hover {
    background: #ffc559;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
}

.cartContainer {
    background: white;
    padding: 20px;
    width: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
}

button {
    background: #FFA500;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #ffc559;
}

input[type="text"],
input[type="datetime-local"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

.checkout {
    margin-top: 20px;
}

@media (max-width: 768px) {
    .menu {
        flex-direction: column;
    }

    .menuItem {
        flex-basis: 100%;
    }

    .cartContainer {
        width: 90%;
    }
}

body {
    background-color: #ebebeb;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    margin-bottom: 10px;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo__img {
    max-width: 110px;
    min-width: 110px;
}


nav>ul>li {
    padding-left: 100px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 20px;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    border-radius: 30px 30px 0 0;
    padding: 30px;
}